/*
  BLUE
  #428bc8
  #15569c
*/

.jumbotron {
  background-color: #488acb;
  border-radius:0;
  color:white;
  padding: 100px 0 250px;
  /* text-transform:uppercase; */
  color: #488acb;
}
.jumbotron-header {
  display:none;
  font-size:3rem;
  font-weight:bold;
}
.navbar {
  display:none;
}
.jumbotron img {
  margin-bottom:2rem;
}
.jumbotron .lead {
  display:none;
}

.handimap-feature {
  padding-top:8rem;
  padding-bottom:22rem;
  position: relative;
}
div#contact-form {
  background-color:#eee;
  text-align: right;
  padding-bottom: 30rem;
}
div#contact-form .lead {
  float:right;
}
div#contact-form input {
  width:400px;
}
.handimap-feature-title {
    margin-bottom: 1em;
}
.handimap-feature .lead {
  /* margin:0; */
}
@media (min-width: 768px) {
  .handimap-feature .lead {
    width: 80%;
    max-width: 540px;
  }
}
.footer {
  padding:100px;
  background:#00161f;
  color:white;
  text-align:center;
}
.footer .lead {
  color:#999;
}
.footer .lead a {
  color:white;
}
.screenshot {
  position:absolute;
  right: 100px;
  top: -220px;
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.35);
  border-radius: 20px;
}
.screenshot2 {
  position:absolute;
  left:0;
  top: -200px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.35);
}
