/*
  BLUE
  #428bc8
  #15569c
*/

img {
  max-width:100%;
}
.jumbotron {
  background-color: #488acb;
  border-radius:0;
  color:white;
  padding: 100px 0 250px;
  /* text-transform:uppercase; */
  color: #488acb;
}
.jumbotron-header {
  display:none;
  font-size:3rem;
  font-weight:bold;
}
.navbar {
  display:none;
}
.jumbotron img {
  margin-bottom:2rem;
}
.jumbotron .lead {
  display:none;
}

.handimap-feature {
  padding-top:8rem;
  padding-bottom: 11rem;
  position: relative;
  text-align:center;
}
#contact-form {
  background-color:#eee;
}
.handimap-feature-title {
    margin-bottom: 1em;
}
.handimap-feature .lead {
  /* margin:0; */
}
.footer {
  padding:100px;
  background:#00161f;
  color:white;
  text-align:center;
}
.footer .lead {
  color:#999;
}
.footer .lead a {
  color:white;
}
.screenshot {
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.35);
  border-radius: 20px;
  margin-bottom: 3em;
  margin-top: -300px;
}
.screenshot2 {
  border-radius: 20px;
  box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.35);
  margin-bottom: 3em;
  margin-top: -200px;
}

@media (min-width: 1024px) {
  .handimap-feature {
    padding-bottom:22rem;
    text-align: left;
  }
  .handimap-feature .lead {
    width: 80%;
    max-width: 540px;
  }
  .screenshot {
    position:absolute;
    right: 100px;
    top: -220px;
    margin-top:0;
  }
  .screenshot2 {
    position:absolute;
    left:0;
    top: -200px;
    margin-top:0;
  }
  #contact-form {
    text-align: right;
    padding-bottom: 30rem;
  }
  #contact-form .lead {
    float:right;
  }
  #contact-form input {
    width:400px;
  }
}